@model PlataformaDeEnsino.Presenter.ViewModels.VincularProfessorViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = $"_Layout"; }

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container td">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center estilo-noticia-margin-bottom">
                                <i class="fa fa-book fa-5x icone-book"></i>
                                <h4 class="modal-title text-center ">Visualizar Unidade</h4>
                            </div>
                        </div>
                        <div class="modal-container">
                            <label for="example-text-input" class="col-2 col-form-label text-modal-title">Unidade</label>
                            <input value="@Model.unidadeViewModel.NomeDaUnidade" disabled class="form-control">
                            <input value="@Model.unidadeViewModel.IdDaUnidade" disabled  hidden>
                        </div>

                        <div class="modal-container">
                            <label for="example-text-input" class="col-2 col-form-label text-modal-title">Professor</label>
                            <select disabled class="form-control">
                                @if(Model.professorViewModel != null)
                                {
                                    <option selected>@Model.professorViewModel.NomeDaPessoa</option>
                                }
                            </select>
                        </div>
                        <div class="modal-footer footer-modal">
                            <div class="footer-botoes">
                                <a href="VincularProfessor?idDaUnidade=@Model.unidadeViewModel.IdDaUnidade"><button type="submit" class="btn btn-default btn-primary enviar-arquivo up-modal">Editar</button></a>
                                <a href="Unidade"><button type="button" class="btn btn-default btn-danger fechar-modal up-modal"> Voltar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>