@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PlataformaDeEnsino.Presenter.ViewModels.ProfessorViewModel>

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plataforma de Conteudo</title>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/estilo.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
</head>

<body>
    <!-- Navbar principal -->
    <nav class="navbar navbar-inverse estilo-navbar">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <div class="collapse navbar-collapse largura-div " id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a class="navbar-brand estilo-navbar-brand bordas-a" href="">Plataforma de Conteúdo</a></li>
                        <li><a class="navbar-brand estilo-navbar-brand " id="espaco-conteudo" href="ConteudoCoordenador">Conteudo</a></li>


                        <li class="dropdown">
                            <a href="#" class=" navbar-brand estilo-navbar-brand " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curso<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Unidade">Unidade</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class=" navbar-brand estilo-navbar-brand " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entidades<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="AlunoCoordenador">Aluno</a></li>
                                <li><a href="ProfessorCoordenador">Entidades</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    <div class="titulo">
        <ul class="nav navbar-nav float-direita-usuario">
            <li class="dropdown ">
                <a href="#" class="float-direita-usuario-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.UserName<span class="caret"></span></a>
                <ul class="dropdown-menu">

                    <li><a href="/LogOff">Sair</a></li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="container td">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center estilo-noticia-margin-bottom">
                    <i class="fa fa-book fa-5x icone-book"></i>

                    <p class="conteudo text-center">Professor</p>
                    <a href="NovoProfessor" ><button class="btn btn-default botaoupar" data-target="#contact_upload">Novo Professor</button></a>
                </div>

                <div class="container">
                    <table class="table table-bordered table-overflow">
                        <thead>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Ações</th>
                        </thead>

                        <tbody>
                            @if(Model != null)
                            {
                                @foreach(var professor in Model)
                                {
                                    <tbody>
                                    <td>@professor.NomeDoProfessor @professor.SobrenomeDoProfessor</td>
                                    <td>
                                        <a href="VisualizarProfessor?IdDoProfessor=@professor.IdDoProfessor"><button class=" btn btn-warning botaovizualizar "><i class="glyphicon glyphicon-eye-open"></i></button></a>
                                        <a href="DeletarProfessor?IdDoProfessor=@professor.IdDoProfessor"><button class=" btn btn-danger botaodeletar "><i class="glyphicon glyphicon-trash"></i></button></a>
                                    </td>
                                    </tbody>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <div class="container ">
                <img src="../../images/logo-fatec.png" class="logo-fatec" alt="">
                <article class="direita">Versão 1.0.0 </article>
            </div>
        </footer>
    </div>
</body>

</html>