@{ Layout = "_Layout"; }

@{
    ViewData["Title"] = "Codigo de status";
}


<h1 class="text-danger">Codigo @ViewBag.codigoDeErro.</h1>
<h2 class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h2>

<p class="text-danger">
    Informe os responsaveis para correção, abra uma Issue no <strong><a href="https://github.com/GuilhermeMarcial/Repositorio-de-Conteudo/issues">Github</a></strong>.
</p>

