@{ Layout = "_Layout"; }

@{
    ViewData["Title"] = "Error";
}


<h1 class="text-danger">Erro @ViewBag.codigoDeErro.</h1>
<h2 class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h2>

<p class="text-danger">
    Informe os responsaveis para correção <strong>Email Aqui</strong>.
</p>

