@model PlataformaDeEnsino.Presenter.ViewModels.VincularProfessorViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container td">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center estilo-noticia-margin-bottom">
                                <i class="fa fa-book fa-5x icone-book"></i>
                                <h4 class="modal-title text-center ">Vincular Novo Professor</h4>
                            </div>
                        </div>
                        <form method="POST" asp-controller="UnidadeCoordenador" asp-action="VincularProfessor">
                        <div class="modal-container">
                            <label for="example-text-input" class="col-2 col-form-label text-modal-title">Unidade</label>
                            <input value="@Model.unidadeViewModel.NomeDaUnidade" disabled class="form-control">
                            <input name="idDaUnidade" value="@Model.unidadeViewModel.IdDaUnidade" hidden disabled>
                        </div>

                        <div class="modal-container">
                            <label for="example-text-input" class="col-2 col-form-label text-modal-title">Professor</label>
                            <select name="idDoProfessor" class="form-control">
                            <option>Professores</option>
                            @if(Model.professoresViewModel != null)
                            {
                                @foreach(var professor in Model.professoresViewModel)
                                {
                                    <option value="@professor.IdDoProfessor">@professor.NomeDoProfessor</option>
                                }
                            }
                            </select>
                        </div>
                        <div class="modal-footer footer-modal">
                            <div class="footer-botoes">
                                <button type="submit" class="btn btn-default btn-primary enviar-arquivo up-modal"> Salvar</button>
                                <a href="Unidade"><button type="button" class="btn btn-default btn-danger fechar-modal up-modal"> Voltar</button></a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>